*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Serif;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 55% 20%;
    
}


#left-top-left{
    /* background-color: crimson; */
    padding: 30px;
    
}

#square{
    height: 10px;
    width: 10px;
    background-color: black;
    rotate: 45deg;
}


#left-top-right{
    /* background-color: rgb(85, 25, 85); */
    /* justify-self: right; */
    padding: 10px;
    padding-right: 30px;
    text-align: right;
}


#left-top-right h4{
    /* background-color: red; */
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;

}


#left-top-right h5{
    /* background-color: red; */
    font-size: 12px;
    font-weight: 300;
    color: #070707;

}

#left-top-right h6{
    display: none;
}


#left-center{
    /* background-color: royalblue; */
    grid-column: 1/3;
    padding: 20px;
    padding-left: 60px;

}

#left-center h1{
    font-size: 5.5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5.5vw;
}

#left-center h1:nth-child(2n){
    /* background-color: red; */
    text-align: center;
}

#left-bottom{
    /* background-color: chartreuse; */
    grid-column: 1/3;
    padding: 25px ;
    
}

#left-bottom p{
    width: 65%;
    font-size: 14px;
    font-weight: 500;
    color: #484848;
}

#right{
    /* background-color: rgb(125, 59, 147); */
    grid-column: 3;
    grid-row: 1/4;
    padding: 30px;
    padding-right: 100px;
}


#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}


#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content : center;
    background-color: orangered;
    color: white;
    padding: 20px;
    border-radius: 50%;
}

#arrow i{
    font-size: 30px;
    font-weight: 100;
}


@media (max-width:600px) {
    #main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 34% 8%; 
    
}


#left-top-left{
    padding: 15px;
    
}

#square{
    height: 15px;
    width: 15px;
}


#left-top-right{
    padding: 20px;
    text-align: right;
}


#left-top-right h4{
    display: none;
}


#left-top-right h5{
    display: none;

}

#left-top-right h6{
    display:initial ;
    font-size: 20px;
}

#left-center{
    padding: 10px 20px;
}

#left-center h1{
    font-size: 17vw;
    line-height: 14vw;
}

#left-center h1:nth-child(2n){
    text-align: right;
}

#left-bottom{
    padding: 5px 20px ;
    
}

#left-bottom p{
    width: 90%;
    font-size: 10px;
}


#arrow{
    top: 54%;
    left: 55%;
    transform: translate(-50%,-50%) rotate(90deg);
    padding: 10px;
}

#arrow i{
    font-size: 20px;
}


#right{
    grid-column: 1/4;
    grid-row: 4;
    padding: 20px;
}

#right video{
    height: 42vh;
}

}